<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Plantation Monitoring - Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/login" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>








<!-- <div class="col-lg-4 col-md-6 blog-middle mb-lg-0 mb-sm-5 pb-lg-0 pb-md-5">
				<img src="{{ url_for('static', filename='images/s2.jpg') }}" class="img-fluid" alt="" />
				<a href="{{ url_for('fertilizer_recommendation') }}">
					<div class="blog-info">
						<h4>Fertilizer</h4>
						<p class="mt-2">Recommendation about the type of fertilizer best suited for the particular soil
							and the recommended crop</p>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-6 blog-right mt-lg-0 mt-5 pt-lg-0 pt-md-5">

				<img src="{{ url_for('static', filename='images/s4.jpg') }}" class="img-fluid" alt="">

			
				<a href="{{ url_for('disease_prediction') }}">
					<div class="blog-info">
						<h4>Crop Disease</h4>
						<p class="mt-2">Predicting the name and causes of crop disease and suggestions to cure it</p>
					</div>
				</a>
			</div> -->
